

                <div class='mb-3 row flex-nowrap'>
                <label for='id_media_gallery_entries_db' class='col-auto col-form-label'>id_media_gallery_entries_db</label>
                <div class='col-10'>
                    <input type='number' class='form-control' id='id_media_gallery_entries_db' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='id_product_db' class='col-auto col-form-label'>id_product_db</label>
                <div class='col-10'>
                    <input type='number' class='form-control' id='id_product_db' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='id' class='col-auto col-form-label'>id</label>
                <div class='col-10'>
                    <input type='number' class='form-control' id='id' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='media_type' class='col-auto col-form-label'>media_type</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='media_type' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='label' class='col-auto col-form-label'>label</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='label' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='position' class='col-auto col-form-label'>position</label>
                <div class='col-10'>
                    <input type='number' class='form-control' id='position' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='disabled' class='col-auto col-form-label'>disabled</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='disabled' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='types' class='col-auto col-form-label'>types</label>
                    <textarea id='types' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='file' class='col-auto col-form-label'>file</label>
                    <textarea id='file' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='ct' class='col-auto col-form-label'>ct</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='ct' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='ut' class='col-auto col-form-label'>ut</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='ut' />
                </div>
                </div>

        <div class='btn-group' role='group'>
        <button type='button' class='btn btn-danger'>Cancelar</button>   
        <button type='button' class='btn btn-primary'>Salvar</button>
        </div>
        
