<form class='row g-3'>


                <div class='col-md-4'>
                    <label for='id_menu' class='form-label'>id_menu</label>
                    <input type='number' class='form-control' id='id_menu' placeholder='id_menu' required>
                </div>

                    <div class='col-md-4'>
                        <label for='name' class='form-label'>name</label>
                        <input type='text' class='form-control' id='name' placeholder='name' required>
                    </div>

                <div class='col-md-12'>
                <label for='description' class='col-auto col-form-label'>description</label>
                    <textarea id='description' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                    <div class='col-md-4'>
                        <label for='url' class='form-label'>url</label>
                        <input type='text' class='form-control' id='url' placeholder='url' required>
                    </div>

                    <div class='col-md-4'>
                        <label for='new_page' class='form-label'>new_page</label>
                        <input type='text' class='form-control' id='new_page' placeholder='new_page' required>
                    </div>

                <div class='col-md-4'>
                    <label for='is_sub_menu' class='form-label'>is_sub_menu</label>
                    <input type='number' class='form-control' id='is_sub_menu' placeholder='is_sub_menu' required>
                </div>

                    <div class='col-md-4'>
                        <label for='ct' class='form-label'>ct</label>
                        <input type='text' class='form-control' id='ct' placeholder='ct' required>
                    </div>

                    <div class='col-md-4'>
                        <label for='ut' class='form-label'>ut</label>
                        <input type='text' class='form-control' id='ut' placeholder='ut' required>
                    </div>

        <div class='row g-3 pb-2 border-bottom'></div>

        <div class='row' role='group'>
            <div class='col-md-12 g-3 pb-2'>
                <button type='button' class='btn btn-danger'>Cancelar</button>   
                <button type='button' class='btn btn-primary'>Salvar</button>
            </div>
        </div>
        </form>
