

                <div class='mb-3 row flex-nowrap'>
                <label for='id_custom_attributes_db' class='col-auto col-form-label'>id_custom_attributes_db</label>
                <div class='col-10'>
                    <input type='number' class='form-control' id='id_custom_attributes_db' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='id_product_db' class='col-auto col-form-label'>id_product_db</label>
                <div class='col-10'>
                    <input type='number' class='form-control' id='id_product_db' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='attribute_code' class='col-auto col-form-label'>attribute_code</label>
                    <textarea id='attribute_code' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='value' class='col-auto col-form-label'>value</label>
                    <textarea id='value' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='ct' class='col-auto col-form-label'>ct</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='ct' />
                </div>
                </div>

                <div class='mb-3 row flex-nowrap'>
                <label for='ut' class='col-auto col-form-label'>ut</label>
                <div class='col-10'>
                    <input type='text' class='form-control' id='ut' />
                </div>
                </div>

        <div class='btn-group' role='group'>
        <button type='button' class='btn btn-danger'>Cancelar</button>   
        <button type='button' class='btn btn-primary'>Salvar</button>
        </div>
        
