{% extends "../template/layout.twig" %}

{% block title %}
    {{title}}
{% endblock %}


{% block content %}

    <div class="starter-template text-center py-5 px-3">
        
		{% include "./tools/painel.twig" with {
			username: username
		} %}
        
    </div>
    
{% endblock %}


{% block style %}
	<link href="styles/dark-sweetalert2.css" rel="stylesheet">
    <style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
	</style>
{% endblock %}

{#
	sweetalert 2
	https://sweetalert2.github.io/#usage
#}

{% block script %}

	<script src="script/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
	
	<script src="script/sweetalert2.min.js"></script>
	<script>

		// <button data-swal-template="#my-template">
		// 		Trigger modal
		// 	</button>			  
		// 	<button data-swal-toast-template="#my-template">
		// 		Trigger toast
		// 	</button>

		
		// Swal.fire({
		// 	position: 'top-end',
		// 	icon: 'success',
		// 	title: 'Your work has been saved',
		// 	showConfirmButton: false,
		// 	timer: 1500
		// })

		

  		/* globals Chart:false, feather:false */

		( () => {
			'use strict'

			Swal.bindClickHandler()

			Swal.mixin({
				toast: true,
			}).bindClickHandler('data-swal-toast-template')

			const Toast = Swal.mixin({
				toast: true,
				position: 'bottom-end',
				showConfirmButton: false,
				timer: 3000,
				timerProgressBar: true,
				didOpen: (toast) => {
					toast.addEventListener('mouseenter', Swal.stopTimer)
					toast.addEventListener('mouseleave', Swal.resumeTimer)
				}
			})

			Toast.fire({
				icon: 'success',
				title: 'Login com sucesso!'
			})

			/***/

		})()

	</script>

        
{% endblock %}