<form class='row g-3'>

                    <div class='col-md-4'>
                        <label for='title' class='form-label'>title</label>
                        <input type='text' class='form-control' id='title' placeholder='title' required>
                    </div>

                <div class='col-md-12'>
                <label for='resume' class='col-auto col-form-label'>resume</label>
                    <textarea id='resume' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                <div class='col-md-12'>
                <label for='content' class='col-auto col-form-label'>content</label>
                    <textarea id='content' cols='30' rows='10' style='width: 100%'></textarea>
                </div>

                    <div class='col-md-4'>
                        <label for='category' class='form-label'>category</label>
                        <input type='text' class='form-control' id='category' placeholder='category' required>
                    </div>

                    <div class='col-md-4'>
                        <label for='link' class='form-label'>link</label>
                        <input type='text' class='form-control' id='link' placeholder='link' required>
                    </div>

                    <div class='col-md-4'>
                        <label for='video' class='form-label'>video</label>
                        <input type='text' class='form-control' id='video' placeholder='video' required>
                    </div>

                    <div class='col-md-4'>
                        <label for='image' class='form-label'>image</label>
                        <input type='text' class='form-control' id='image' placeholder='image' required>
                    </div>


        <div class='row g-3 pb-2 border-bottom'></div>

        <div class='row' role='group'>
            <div class='col-md-12 g-3 pb-2'>
                <a id="cancel" class='btn btn-danger'>Cancelar</a>   
                <a id="save" class='btn btn-primary'>Salvar</a>
            </div>
        </div>
        </form>

<script>   

const clean = () => {
    document.querySelector('#title').value = ''
    document.querySelector('#link').value = ''
    document.querySelector('#resume').value = ''
    document.querySelector('#content').value = ''
    document.querySelector('#category').value = ''
    document.querySelector('#video').value = ''
    document.querySelector('#image').value = ''
}

document.querySelector('#cancel').addEventListener('click', (e) => {
    e.preventDefault()

    clean()
    location.href = "/admin"
    
})
     
document.querySelector('#save').addEventListener('click', (e) => {
    e.preventDefault()

    let inputs = {
        title:  document.querySelector('#title').value,        
        resume:  document.querySelector('#resume').value,
        content:  document.querySelector('#content').value,
        category:  document.querySelector('#category').value,
        link:  document.querySelector('#link').value,
        video:  document.querySelector('#video').value,
        image:  document.querySelector('#image').value,        
    }

    fetch("/admin-post", {
    "method": "POST",
    "headers": {
        "Content-Type": "application/json"
    },
        "body": JSON.stringify(inputs)
    })
    .then(response => response.json())
    .then(result => {
        if (result.status == 200){     
            clean()
            alert('cadastro ok')
            console.log(result.data)
        } else {
            alert(`${result.data}`)
        }
    })
    .catch(err => {
        console.error(err);
    })
})

</script>